.wy-side-nav-search {
	background-color: #DB2828;
}

.wy-nav-side {
	background: #DB2828;
	color: #FDFFFF;
}

.wy-nav-content {
	max-width: 80%;
}

.toctree-l1>a:hover { 
  color: #FDFFFF !important;
  background-color: #D84949 !important;
}

.wy-side-nav-search input[type=text] {
   border-color:#D84949 !important;
}