pre
{
background-color: #b9b9b9 !important;
}

.wy-nav-content
{
background: #3c3c3c;
color: aliceblue;
min-width: 85%;
max-width: calc(100% - 320px);
width: calc(100% - 320px);
}

.method dt, .class dt, .data dt, .attribute dt, .function dt, .descclassname, .descname
{
background-color: #525252 !important;
color: white !important;
}

.toc-backref
{
color: grey !important;
}

code.literal
{
background-color: #2d2d2d !important;
border: 1px solid #6d6d6d !important;
}

.wy-nav-content-wrap
{
background-color: #3c3c3c !important;
}

.sidebar
{
background-color: #191919 !important;
}

.sidebar-title
{
background-color: #2b2b2b !important;
}

.xref, .py-meth
{
color: #7ec3e6 !important;
}

.admonition, .note
{
background-color: #2d2d2d !important;
}

.wy-side-nav-search {
	background-color: #C42525;
}

.wy-nav-side {
	background: #821C1C;
	color: #FDFFFF;
}

.wy-nav-top {
	background: #C42525;
	color: #FDFFFF;
}

.toctree-l1>a:hover { 
  color: #FDFFFF !important;
  background-color: #C42525 !important;
}

.wy-side-nav-search input[type=text] {
   border-color:#C42525 !important;
}

ul .simple {
    margin: -5px;
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #2d2d2d;
}

.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    color: aliceblue;
}

.wy-table-responsive {
    text-align: center;
}

th {
    text-align: center;
}

/* Fix codeblocks */
.rst-content div.highlight-default {
    border: 0 none;
}

.rst-content div.highlight-default div.highlight {
    background-color: transparent;
}

.rst-content div.highlight pre {
    background-color: #2d2d2d;
}
